.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #213547;
    padding: 15px;
}

.container form{
    width: 35%;
    max-width: 420px;
    min-width: 300px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.586);
    gap: 1.5rem;
    border-radius: 10px;
}

.container form input{
    padding: 14px;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.container form h1,
.container form p,
.container form strong,
.container form hr{
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.container form input[type="submit"]{
    padding: 14px;
    width: 100%;
    background-color: rgb(0, 136, 255);
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.container form input[type="submit"]:hover{
    background-color: rgb(20, 142, 250);
    cursor: pointer;
}

@media (max-width: 768px){
    .container form{
        width: 100%;
    }
}

@media (max-width: 480px){
    .container form{
        padding: 25px 15px;
    }

    .container form h1{
        font-size: 22px;
    }

    .container form input{
        padding: 12px;
        font-size: 14px;
    }
}
